@animDurationSt: 500ms;
@animDurationMin: 200ms;

@size1: 20px;

@menuHeight: 40px;
@filterPanelHeight: 30px;
@filterSearchHeight: 60px;

@opacityHoverOff: 0.5;
@opacityHoverOn: 1;
@opacityHoverActive: 0.9;

.aaHover-mixin {
  transition: opacity @animDurationMin ease-in;
  opacity: @opacityHoverOff;

  &:hover, &.active, &.hover {
    opacity: @opacityHoverOn;
  }

  &:active {
    opacity: @opacityHoverActive;
  }
}

.aa-cursor-up-mixin {
  cursor: n-resize;
}
.aa-cursor-right-mixin {
  cursor: e-resize;
}
.aa-cursor-down-mixin {
  cursor: s-resize;
}
.aa-cursor-left-mixin {
  cursor: w-resize;
}
.aa-cursor-zoom-in-mixin {
  cursor: move;
  cursor: zoom-in;
}
.aa-cursor-zoom-out-mixin {
  cursor: move;
  cursor: zoom-out;
}
.aa-cursor-move-mixin {
  cursor: move;
}


.keyframes-mixin (@name; @arguments) {
  @-webkit-keyframes @name { @arguments(); }
  @-moz-keyframes @name { @arguments(); }
  @-ms-keyframes @name { @arguments(); }
  @-o-keyframes @name { @arguments(); }
  @keyframes @name { @arguments(); }
}

.animation-mixin (@arguments) {
  -webkit-animation: @arguments;
  -moz-animation: @arguments;
  -ms-animation: @arguments;
  -o-animation: @arguments;
  animation: @arguments;
}

.animation-play-state-mixin (@arguments) {
  -webkit-animation-play-state: @arguments;
  -moz-animation-play-state: @arguments;
  -ms-animation-play-state: @arguments;
  -o-animation-play-state: @arguments;
  animation-play-state: @arguments;
}
