@import "./src/aa/css/mixins.less";

.keyframes-mixin(splashToSection; {
    0% {transform: translate3d(0,90%,0);}
    50% {transform: translate3d(0,0%,0);}
    100% {transform: translate3d(0,0%,0);}
});

.keyframes-mixin(splashFromSection; {
    0% {transform: translate3d(0,0%,0);}
    40% {transform: translate3d(0,0%,0);}
    100% {transform: translate3d(0,90%,0);}
});

/*
 *  TRANSITION_SPLASH_2_SECTION
 */
.splash-to-section-enter {
  .animation-mixin(splashToSection @animDurationSt*2 ease-in paused);

  transition: background-color @animDurationSt ease-in;

  .aa-project-slide, .project-title {
    opacity: 0.01;
    transition: opacity @animDurationSt ease-in 0.4s;
  }

  .aa-menu {
    position: absolute !important;
    background: transparent !important;
  }

  &.splash-to-section-enter-active {
    .animation-play-state-mixin(running);

    .aa-project-slide, .project-title {
      opacity: 1;
    }
  }
}

.splash-to-section-leave {
  .animation-mixin(splashFromSection @animDurationSt*2 ease-in paused);

  transition: background-color @animDurationSt ease-in @animDurationSt;

  .aa-menu {
    position: absolute !important;
    background: transparent !important;
  }

  .aa-project-slide, .project-title {
    opacity: 1;
    transition: opacity @animDurationSt ease-in;
  }

  &.splash-to-section-leave-active {
    .animation-play-state-mixin(running);

    .aa-project-slide, .project-title {
      opacity: 0.01;
    }
  }
}

/*
 *  TRANSITION_SECTION_2_SECTION
 */
.section-to-section-enter {
  opacity: 0.01;
  transition: opacity @animDurationSt ease-in;
  z-index: 10;

  &.section-to-section-enter-active {
    opacity: 1;
  }
}

.section-to-section-leave {
  opacity: 1;
  transition: opacity @animDurationSt ease-in;

  &.section-to-section-leave-active {
    opacity: 0.99;
    z-index: 1;
  }
}

/*
 *  TRANSITION_DETAIL_2_DETAIL
 */
.keyframes-mixin(selectedToDetail; {
    0% {height: 80%;}
    50% {height: 100%;}
    100% {height: 100%;}
});

.selected-to-detail-enter {
  .animation-mixin(selectedToDetail @animDurationSt*2 ease-in paused);
  z-index: 10;

  .aa-actual-slide img {
    top: 0 !important;
    left: 0 !important;
    bottom: 0 !important;
    right: 0 !important;
    width: auto !important;
    height: auto !important;
  }

  .aa-next-slide, .aa-previous-slide, .aa-close {
    transition: opacity @animDurationSt ease-in @animDurationSt !important;
    opacity: 0.0 !important;
  }

  .aa-menu {
    display: block !important;
    transition: opacity @animDurationSt ease-in @animDurationSt !important;
    opacity: 1.0 !important;
  }

  &.selected-to-detail-enter-active {
    .animation-play-state-mixin(running);

    .aa-next-slide, .aa-previous-slide, .aa-close {
      opacity: 0.5 !important;
    }

    .aa-menu {
      opacity: 0.0 !important;
    }
  }
}

.selected-to-detail-leave {
  transition: opacity @animDurationSt*2 ease-in;
  opacity: 1;

  &.selected-to-detail-leave-active {
    opacity: 0.999;
  }
}

/*
 *  TRANSITION_DETAIL_2_NEXT
 */
.detail-to-detail-enter {

  &.detail-to-detail-enter-active {

  }
}

.detail-to-detail-leave {

  .aa-previous-slide {
    transform: translate3d(0,0,0);
    transition: transform @animDurationSt/2 ease-out !important;
  }

  .aa-actual-slide {
    transform: translate3d(0,0,0);
    transition: transform @animDurationSt ease-out @animDurationSt/3, opacity @animDurationSt ease-out @animDurationSt/3 !important;
    opacity: 1;
  }

  .aa-next-slide {
    transform: translate3d(0,0,0);
    transition: transform @animDurationSt ease-out @animDurationSt, opacity @animDurationSt ease-out @animDurationSt !important;
    opacity: 0.75;
  }

  &.detail-to-detail-leave-active {
    .aa-actual-slide {
      opacity: 0.5;
    }

    .aa-next-slide {
      opacity: 1;
    }
  }

}


/*
 *  FIXED_TITLE
 */
.fixed-title-enter {
  position: relative;
  z-index: 10;
  transition: opacity @animDurationSt/3 ease-in;
  opacity: 0;

  &.fixed-title-enter-active {
    opacity: 0.5;
  }
}

.fixed-title-leave {
  transition: opacity @animDurationSt/3 ease-in;
  opacity: 0.5;

  &.fixed-title-leave-active {
    opacity: 0;
  }
}
